@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@500;700&display=swap');

:root {
    --very-dark-grayish-blue: hsl(217, 19%, 35%);
    --desaturated-dark-blue: hsl(214, 17%, 51%);
    --grayish-blue: hsl(212, 23%, 69%);
    --light-grayish-blue: hsl(210, 46%, 95%);
}

html {
    box-sizing: border-box;
    font-size: 62.5%;
}

body {
    display: flex;
    font-family: 'Manrope', sans-serif;
    background-color: var(--light-grayish-blue);
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
}

.card {
    display: flex;
    height: 280px;
    width: 730px;
    background-color: white;
    border-radius: 10px;
    overflow: hidden;
}

.drawers {
    object-fit: cover;
    object-position: 0% 0;
    width: 285px;
    height: 280px;
}

.content {
    height: 208px;
    width: 365px;
    align-self: center;
    margin-left: 40px;
}

.bold {
    color: var(--very-dark-grayish-blue);
    font-size: 2rem;
    font-weight: 700;
    margin-top: 0;
    margin-bottom: 10px;
    line-height: 28px;
}

.soft {
    color: var(--desaturated-dark-blue);
    font-size: 1.3rem;
    font-weight: 500;
    margin-top: 0;
    margin-bottom: 0;
    line-height: 18px;
}

.social {
    display: inline-flex;
    height: 40px;
    width: 365px;
    justify-content: flex-start;
    align-items: center;
    margin-top: 20px;
}

.avatar {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    margin-right: 15px;
}

.name {
    color: var(--very-dark-grayish-blue);
    font-size: 1.3rem;
    font-weight: 700;
    height: 36px;
    width: 130px;
    margin: 0;
    align-self: flex-end;
    margin-right: 150px;
}

.date {
    display: block;
    color: var(--desaturated-dark-blue);
    font-size: 1.3rem;
    font-weight: 500;
    margin-top: 5px;
}

.boton {
    display: inline-flex;
    background-color: var(--light-grayish-blue);
    border-radius: 50%;
    height: 30px;
    width: 30px;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.share {
    height: 13px;
    width: 13px;
}

.modal-container {
    visibility: hidden;
    opacity: 0;
    position: absolute;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 250px;
    height: 55px;
    background-color: var(--very-dark-grayish-blue);
    border-radius: 10px;
    left: 63.55%;
    bottom: 44.9%;
    transition: opacity 0.2s;
}

.modal-container img {
    height: 20px;
    margin-left: 18px;
}

.modal-container p {
    color: var(--grayish-blue);
    font-size: 1.2rem;
    letter-spacing: 5px;
    margin: 10px;
}

.modal-container::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -13px;
    border-width: 13px;
    border-style: solid;
    border-color: var(--very-dark-grayish-blue) transparent transparent;
}

.modal-close {
    opacity: 0;
}
